* body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

form {
  margin: auto;
  width: 50%;
  padding: 10px;

}

h1 {
  text-align: center;
  font-size: 18px;
  color: #7f8c8d;

}

#chartData_container {
  background-color: #000;
  color: #fff;
  margin: auto;
  width: 50%;
  height: auto;
  margin-bottom: 10px;
}


.navbar {
  padding: 20px;
  margin: 0px;
  justify-content: center;
  background-color: #000000;
  background-image linear-gradient(315deg, #000000 0%, #7f8c8d 74%);
}

.navbar .nav {
  justify-content: center;
  display: flex;
  text-align: center;
  margin: auto;
  text-align: center;
}

ul li {
  text-align: center;
  margin-left: 200px;
  font-size: 20px;
  font-weight: bold;
}
